.execom{
    padding: 35px 5% 5% 5%;
    background-color: rgb(255, 255, 255);
    color: black;
}
.execom-row{
    margin-top: 80px;
}

.execom-name-box {
    border: 1px solid black;
    border-radius: 20px;
}