*{
    padding: 0;
    margin: 0;
    user-select: none;
    overflow-x: hidden;
    overflow: hidden;
}

.main-body{
    height: 100vh;
    width: 100%;
   user-select: none;
   overflow-y: hidden;
   overflow-x: hidden;
}
